.container.justify-content-center
  .row
    .col-md-4
      .card
        %i.far.fa-user.div_bar_icon{:style => "color:#516DF5;" }
        %br/
        %h4.card-title Mahmut Can
        %p.card-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnssimos voluptatum pariatur vgvg
        %button.text-white.border-light.view_button View profile
    .col-md-4
      .card
        %i.far.fa-user.div_bar_icon{:style => "color:#516DF5"}
        %br/
        %h4.card-title Baytambay
        %p.card-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnssimos voluptatum pariatur vsadsa
        %button.text-white.border-light.view_button View profile
    .col-md-4
      .card
        %i.far.fa-user.div_bar_icon{:style => "color:#516DF5"}
        %br/
        %h4.card-title Musa ydsasd
        %p.card-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnssimos voluptatum pariatur vasdasd
        %button.text-white.border-light.view_button View profile
