<h1>Tüm İlanlar</h1>

<table border = "1">

<tr>
    <td>Adı</td>
    <td>Açıklama</td>
</tr>
  <% @adverts.each do |advert|%>
    <tr> 
      <td><%=advert.title%></td>
      <td><%=advert.description%></td>
      <td><%=link_to("Göster",advert_path(advert.id))%></td>
    </tr>

  <%end%>
</table>        	

<%= link_to "Yeni Kategori Oluştur",new_advert_path,class: 'button'%>