/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
.nav_icon{
  margin-left: 10px;
}
a.nav-link{
  color:grey;

}

.browse-popular{
  margin-top: 50px;
  margin-left: 250px;
  font-size: 100px;
  text-align: center;
  font-weight: 600; 

}
.search{
margin-left:-140px; 
margin-bottom:-47px; 
width: 500px;
height: 75px;
border-radius: 40px;
}
.search_button{
background-color: orangered;
margin-left:350px ; 
margin-top: -30px;
border-radius: 45px; 
padding: 20px;
padding-left: 33px;
padding-right:33px 

}

.button_alt{
background-color: #F0F8FF;
margin-top: -30px;
margin-left:250px;
border-radius: 20px;
padding: 8px; 
width: 220px; 
height: 120px;

}
.icon{
  margin-left: -200px; 
  font-size: 55px;
}
.div_bar{
  border: 1px solid white;
  display: inline-block;
  background-color: #F8F6F7;
  border-radius: 20px;
  font-size: xx-large;
 
}
.div_bar_icon{
border: 1px solid ;
padding: 15px;
margin-top:10px;
color: white;
font-size: 50px; 
border-radius: 20px;
}
.card{
  width: 350px;
  height: 400px;
  margin-left: 200px;
  margin-top: 50px;
  border-radius: 15px;
  padding:5px ;
  background-color: #FFFFFF;
  
  
}
.card i{
  font-size: 55px;
  border:none;
}
.resim{
margin-top: 100px;
width: 500px; 
height: 500px;
float:right;
}
.resim2{
  margin-top: 100px;
  width: 500px; 
  height: 500px;
  
}
.search1{
  margin-left:-140px; 
  margin-bottom:-51px; 
  width: 500px;
  height: 75px;
  border-radius: 40px;
  }
  .search_button1{
  background-color: orangered;
  margin-left:215px ; 
  margin-top: -50px;
  border-radius: 45px; 
  padding: 20px;
  padding-left: 33px;
  padding-right:33px ;
  font-size: 15px;
  }
  .deneme{
    margin-top: 185px;
  margin-left: 70px;
  }




