// Place all the styles related to the Employers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.view_button{
  background-color: #516DF5;
  margin-right:70px; 
  margin-top: 70px;
  border-radius: 45px; 
  padding: 20px;
  padding-left: 15px;
  padding-right: 25px ;
  font-size: 15px;
  }