%h1 Tüm İlanlar

.container.justify-content-center
  .row
    - @adverts.each do |advert|
      .col
        .card
          %i.fas.fa-briefcase.div_bar_icon{:style => "color:#516DF5;" }
          %br/ 
          %h4.card-title
          = advert.title
          = advert.description
          = link_to advert_path(advert.id) do
            %button.text-white.border-light.view_button Detaylar
          = link_to "Başvur", wo_worker_jobs_path(advert.id), class:"btn btn-sm btn-primary",method: :post


